:root{
	font-size: 18px;
	text-align: center;
	color: white;
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	min-height:100vh;
}

body{
	/* background-color: firebrick; */
	background: linear-gradient(to bottom, darkred, firebrick, orange);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 0.4rem;
	max-height: 99vh;
	display: grid;
	grid-template: 1fr 5fr / 1fr;
	grid-template: 1fr / 1fr 4fr;
	grid-template-areas: "toparea bottomarea";
}

@media (orientation: portrait){
	body{
		/* background-color: firebrick; */
		background: linear-gradient(to bottom, darkred, firebrick, orange);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		max-height: 99vh;
		padding: 0.4rem;
		display: grid;
		grid-template: 1fr 6fr / 1fr;
		grid-template-areas: "toparea" "bottomarea";		
	}
}

.preface{
	grid-area: toparea;
	background-size: cover;
	background-image: url('trees.jpg');
	/* background-color: darkgreen; */
	/* box-shadow: inset 0px 0px 30px brown; */
	border: 0.6rem groove #9a3c27;
	border-radius: 6px;
	padding: 1.6rem 2.2rem;
	margin-bottom: 0.4rem;
	display: flex;
	flex-flow: column nowrap;
}

.preface h1{
	color: white;
	margin-bottom: 1rem;
}

.thearray{
	grid-area: bottomarea;
	padding: 0.6rem;
	display: flex;
	flex-flow: row wrap;
	border: 0.6rem groove #9a3c27;
	border-radius: 6px;
	/* background-color: darkgreen; */
	/* background: linear-gradient(to bottom, darkgreen, firebrick); */
	background-image: url('fireplace.jpg');
	background-size: cover;
	color: firebrick;
	justify-content: space-around;
	align-items: flex-start;
	overflow-y: scroll;
	overflow-x: hidden;
}

.card{
	margin: 1rem;
	padding: 1.6rem;
	width: 19rem;
	min-height: 15rem;
	color: white;
	background-color: firebrick;
	border: 0.2rem groove white;
	display: inline-flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-between;
}

@media (orientation: portrait){
	.card{
		margin: 1rem;
		padding: 1.6rem;
		width: 25rem;
		min-height: 15rem;
		color: white;
		background-color: firebrick;
		border: 0.2rem groove white;
		display: inline-flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: space-between;
	}
}

.card img{
	margin-bottom: 0.6rem;
	max-height: 7.5rem;
	max-width: 9.5rem;
	min-height:5rem;
	min-width: 5.5rem;
}

.card p {
	font-size: 0.9rem;
	margin-top: 0.5rem;
}

@media (orientation: portrait){
	.card p{
		font-size: 1.6rem;
	}

	.card h3 {
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	h1{
		font-size: 3rem;
	}

	.preface p{
		font-size: 1.6rem;
}
